#header{
	display:block;
	position:fixed;
	z-index:10;
	top:0px;
	left:0px;
	width:100%;
	height:1px;
}
#header > #logo{
	display:block;
	position:absolute;
	top:0px;
	left:46%;
	margin-left:-42px;
/* 	margin-left:-450px; */
	width:185px;
	height:85px;
	background:#000000;
	cursor:pointer;
}
#header > #logo > div{
	display:block;
	position:absolute;
	top:0px;
	left:-50px;
	width:285px;
	height:85px;
	background:url('../images/logo-white.png') center center no-repeat transparent;
	
}
#header > #logo > div > div{
	display:block;
	position:absolute;
	top:15px;
	left:54px;
	width:176px;
	height:56px;
	background-image:url('../images/play.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#000000;
	opacity:0;
	filter:alpha(opacity=0);
}

#header > #logo > #loading{
	display:block;
	position:absolute;
	top:25px;
	left:25px;
	width:1px;
	height:36px;
	background:url('') center top no-repeat #000000;
}

#loadbar{
	display:block;
	position:fixed;
	z-index:10;
	top:86px;
	left:46%;
	margin-left:-42px;
	height:1px;
	background-color:#383838;
}

#header > #menu{
	display:block;
	position:absolute;
	overflow:hidden;
	top:0px;
	left:46%;
	padding-top:33px;
	margin-left:-263px;
	width:0px;
	height:52px;
	background:#000000;
	cursor:pointer;
	text-align:center;
	color:#838383;
}
#header > #menu > a{
	display:inline-block;
	position:relative;
	height:19px;
	overflow:hidden;
	padding:0px 10px;
	font:14px/15px "InsightRegular";
	text-align:center;
	color:#838383;
}
#header > #menu > a.contact{

}
#header > #menu > span{
	display:inline-block;
	padding:0px 2px;
	font:14px/15px "InsightRegular";
	color:#838383;
}
#header > #menu > a:hover{
	color:#ffffff;
}
#map{
	display:block;
	position:absolute;
	top:20px;
	z-index:20;
	width:120px;
	height:100px;
	right:20px;
	cursor:pointer;
}
#map > a {
	display:block;
	position:absolute;
	width:8px;
	height:8px;
	cursor:pointer;
	background:#ffffff;
	opacity:0.4;
	filter:alpha(opacity=40);
	transition: all 0.2s;
	-ms-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
#map.dark > a{
	background:#000000;
}
#map > a:hover{
	transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5);
	-webkit-transform: scale(1.5,1.5);
	-moz-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5);
}
#map > a:hover, #map > a.active {
	opacity:1;
	filter:alpha(opacity=100);
}
#map > a.incoming {
	opacity:0.8;
	filter:alpha(opacity=80);
}
#map > a.loading {
	opacity:0.12;
	filter:alpha(opacity=12);
}
.loading-claim {
	color:#ffffff;
	font:14px/14px "InsightRegular";
}
.loading-claim > span {
	opacity:0;
	filter:alpha(opacity=0);
}
#footer-container{
	background:#151515;
}
#footer-container > .project{
	height:auto;
}
#footer-container > .project > .block{
	cursor:default;
}
#footer{
	display:block;
	position:relative;
	overflow:hidden;
	height:100%;
	background:#151515;
}
#footer > .container{
	display:block;
	position:absolute;
	top:0px;
	left:50%;
	margin-left: -450px;
	height:130px;
	width:900px;
}
#footer > .container > .data {
	display:block;
	position:relative;
	height:85px;
	left:20px;
	
}
#footer > .container > .social {
	display:block;
	position:absolute;
	top:35px;
	right:92px;
}
#footer > .container > .social > div {
	display:block;
	width:100px;
	height:19px;
	float:left;
}
#footer > .container > .social > div.google{
	width:68px;
}
#footer > .container > .social > div.facebook{
	width:90px;
}
#footer > .container > .data > span {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	height:60px;
	width:450px;
	padding-top:25px;
	padding-left:70px;
	z-index:100;
	color:#383838;
	font:15px/18px "InsightRegular";
}
#footer > #mailbutton{
	display:block;
	width:900px;
	margin:127px auto 0px;
	padding-bottom:10px;
	cursor:pointer;
}
#footer > #mailbutton > h4{
	display:block;
	padding-right:10px;
	text-align:center;
	letter-spacing:-8px;
	font:150px/120px "InsightRegular";
	color:#383838;
}
#footer > #mailbutton > #mailto{
	display:block;
	text-align:center;
	letter-spacing:0px;
	font:68px/75px "InsightRegular";
	color:#383838;
}
#footer > #wetweetwhat{
	display:block;
	text-align:center;
	letter-spacing:2px;
	font:86px/80px "InsightRegular";
	color:#383838;
}
#footer > #tweet{
	display:block;
	width:741px;
	overflow:hidden;
	margin:20px auto;
	padding:10px 80px 0px 79px;
}
#footer > #tweet > p{
	display:block;
	width:207px;
	padding:0px 20px;
	float:left;
	font:16px/18px "InsightRegular";
	color:#383838;
}
#footer > #tweet > p > span{
	display:block;
	font:12px/30px "InsightRegular";
	color:#383838;
}
#footer > #tweet > p > a:hover{
	color:#ffffff;
}
#footer > #claim{
	display:block;
	width:700px;
	padding:0px 100px;
	margin:10px auto;
	text-align:left;
	font:18px/24px "InsightRegular";
	color:#383838;
}
#footer > #claim > #seeya{
	display:block;
	float:right;
	width:100px;
	padding-right:5px;
	text-align:right;
	font:18px/24px "InsightRegular";
	color:#383838;
}
#footer > .sep{
	display:block;
	width:698px;
	height:19px;
	margin:15px auto;
	background-color:#383838;
}
#footer > .sep > .links{
	display:block;
	width:255px;
	height:19px;
	padding:0px 20px;
	margin:0px auto;
	background:#151515;
}
#footer > .sep > .links > a{
	display:block;
	float:right;
	height:16px;
	width:85px;
}
#footer > .sep > .links > a.behance {
	background:url('../images/behance.png') center bottom no-repeat;
}
#footer > .sep > .links > a.twitter {
	background:url('../images/twitter.png') center bottom no-repeat;
}
#footer > .sep > .links > a.facebook {
	background:url('../images/facebook.png') center bottom no-repeat;
}

#page-content{
	display:block;
	position:relative;
	overflow:hidden;
}

#layer{
	display:block;
	position:fixed;
	z-index:5;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
}

.project-container{
	display:block;
	position:relative;
	overflow:hidden;
	height:650px;
}
.project{
	display:block;
	position:relative;
	overflow:hidden;
	height:650px;
}
.block{
	display:block;
	position:absolute;
	height:650px;
	top:0px;
	left:0px;
	cursor:pointer;
	overflow:hidden;
	color:#ffffff;
}
.block > .highlight{
	display:block;
	position:relative;
	padding-top:211px;
	height:439px;
}
.project-container > .project > .block.share{
	background:#000000;
}
.project-container > .project > .block.share > div.social{
	display:block;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-200px;
	height:650px;
	width:400px;
	background:url('../images/share-bollonzo.png') center center no-repeat;
}
.project-container > .project > .block.share > div.social > .twitter{
	display:block;
	position:relative;
	margin:20px auto;
	width:55px;
}
.project-container > .project > .block.share > div.social > .facebook{
	display:block;
	position:relative;
	margin:250px auto 0px;
	width:49px;
}
.project-container > .project > .block.share > div.social > .likethis{
	display:block;
	width:400px;
	position:absolute;
	top:137px;
	font:48px/48px "InsightRegular";
	text-align:center;
	color:#ffffff;
}
.project-container > .project > .block.share > div.social > .sharethis{
	display:block;
	width:400px;
	position:absolute;
	top:460px;
	font:48px/48px "InsightRegular";
	text-align:center;
	color:#ffffff;
}





/* PROJECTS STYLES */

.proyecto1 > .block {
	background:#000;
}
#proyecto1-cover {
	background:url('../images/proyecto1/portada_BW.jpg') top center no-repeat #000;
}
#proyecto1-cover > .highlight {
	background:url('../images/proyecto1/portada.jpg') top center no-repeat #390F3D;
}
.proyecto1 > .loaded.second {
	background:url('../images/proyecto1/interior1.jpg') top center no-repeat #272727;
}
.proyecto1 > .loaded.third {
	background:url('../images/proyecto1/interior2.jpg') top center no-repeat #272727;
}
.proyecto1 > .loaded.fourth {
	background:url('../images/proyecto1/interior3.jpg') top center no-repeat #272727;
}

.proyecto2 > .block {
	background:#000;
}
#proyecto2-cover {
	background:url('../images/proyecto2/portada_BW.jpg') top center no-repeat #1C1A00;
}
#proyecto2-cover > .highlight {
	background:url('../images/proyecto2/portada.jpg') top center no-repeat #000;
}
.proyecto2 > .loaded.second {
	background:url('../images/proyecto2/interior1.jpg') top center no-repeat #272727;
}
.proyecto2 > .loaded.third {
	background:url('../images/proyecto2/interior2.jpg') top center no-repeat #272727;
}
.proyecto2 > .loaded.fourth {
	background:url('../images/proyecto2/interior3.jpg') top center no-repeat #272727;
}

.proyecto3 > .block {
	background:#000000;
}
#proyecto3-cover {
	background:url('../images/proyecto3/portada_BW.jpg') top center no-repeat #1C1C00;
}
#proyecto3-cover > .highlight {
	background:url('../images/proyecto3/portada.jpg') top center no-repeat #031229;
}
.proyecto3 > .loaded.second {
	background:url('../images/proyecto3/interior1.jpg') top center no-repeat #272727;
}
.proyecto3 > .loaded.third {
	background:url('../images/proyecto3/interior2.jpg') top center no-repeat #272727;
}
.proyecto3 > .loaded.fourth {
	background:url('../images/proyecto3/interior3.jpg') top center no-repeat #272727;
}

.proyecto4 > .block {
	background:#000;
}
#proyecto4-cover {
	background:url('../images/proyecto4/portada_BW.jpg') top center no-repeat #191900;
}
#proyecto4-cover > .highlight {
	background:url('../images/proyecto4/portada.jpg') top center no-repeat #090C15;
}
.proyecto4 > .loaded.second {
	background:url('../images/proyecto4/interior1.jpg') top center no-repeat #272727;
}
.proyecto4 > .loaded.third {
	background:url('../images/proyecto4/interior2.jpg') top center no-repeat #272727;
}
.proyecto4 > .loaded.fourth {
	background:url('../images/proyecto4/interior3.jpg') top center no-repeat #272727;
}
.proyecto4 > .loaded.fifth {
	background:url('../images/proyecto4/interior4.jpg') top center no-repeat #272727;
}
.proyecto5 > .block {
	background:#272727;
}
#proyecto5-cover {
	background:url('../images/proyecto5/portada_BW.jpg') top center no-repeat #000;
}
#proyecto5-cover > .highlight {
	background:url('../images/proyecto5/portada.jpg') top center no-repeat #000;
}
.proyecto5 > .loaded.second {
	background:url('../images/proyecto5/interior1.jpg') top center no-repeat #272727;
}
.proyecto5 > .loaded.third {
	background:url('../images/proyecto5/interior2.jpg') top center no-repeat #272727;
}
.proyecto5 > .loaded.fourth {
	background:url('../images/proyecto5/interior3.jpg') top center no-repeat #272727;
}
.proyecto5 > .loaded.fifth {
	background:url('../images/proyecto4/interior4.jpg') top center no-repeat #272727;
}



.staff > .block {
	background:#000000;
	height:630px;
	padding-top:25px;
}
#staff-cover {Æ’love
	background:url('../images/quienes.jpg') top center no-repeat #000000;
	height:650px;
	padding-top:0px;
}
#staff-cover > .highlight {
	background:url('../images/quienescover.jpg') top center no-repeat #000000;
}


div.staff-container {
	display:block;
	position:relative;
	margin:200px auto 0px;
	width:920px;
}
div.staff-container > img{
	display:block;
	position:absolute;
	top:10px;
	left:10px;
}
div.staff-container > h4{
	display:block;
	position:relative;
	margin-left:156px;
	color:#ffffff;
	letter-spacing:-1px;
	font:75px/75px "InsightRegular";
	text-transform:lowercase;
}
div.staff-container > h5{
	display:block;
	position:relative;
	margin-left:156px;
	margin-top:5px;
	color:#ffffff;
	font:50px/45px "InsightRegular";
}
div.staff-container > p{
	display:block;
	position:relative;
	padding:20px 0px;
	margin-left:156px;
	color:#ffffff;
	font:12px/16px "InsightRegular";
}
div.staff-container > a{
	display:block;
	position:relative;
	margin-left:156px;
	color:#ffffff;
	font:17px/17px "InsightRegular";
}






.title-dx{
	display:block;
	position:absolute;
	left:50%;
	margin-left:-450px;
/*	position:relative;
	margin:0px auto;
*/	width:900px;
	text-align:right;
}
.title-sx{
	display:block;
	position:relative;
	margin:320px auto;
	width:900px;
	text-align:right;
}
.title-dx > span{
	right:0px;
}
.title-sx > span{
	left:-70px;
}
span.project-name{
	display:inline-block;
	height:34px;
	padding:10px 10px;
	font:30px/30px "InsightRegular";
	color:#ffffff;
	background-color:#000;
}
span.project-name.tall{
	height:70px;
}
span.project-name.first{
	position:absolute;
	top:0px;
}
span.project-name.second{
	position:absolute;
	top:46px;
}
span.description{
	display:inline-block;
	position:absolute;
	top:102px;
	padding:4px 10px;
	font:48px/48px "InsightRegular";
	color:#ffffff;
	background-color:transparent;
}
span.description.under-tall{
	top:176px;
}
div.bollonzo{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	height:650px;
	width:100%;
	overflow:hidden;
	/*background:url('../images/bollonzo-line.png') center center no-repeat transparent; */
	-webkit-transform: rotate(0deg);

}
div.bollonzo > div {
	display:block;
	position:absolute;
	width:100%;
	height:650px;
	background:url('../images/bollonzo.png') center center no-repeat transparent; 
}
div.bollonzo > div > span{
	display:block;
	position:absolute;
	top:307px;
	height:132px;
	width:100%;
	text-align:center;
	font:16px/18px "InsightRegular";
	color:#ffffff;
}












